<link rel="stylesheet" href="../Styles/admin-styles.css">

<h2>Página do administrador</h2>
<body>
   <table>
      <tr>
         <th>Adicionar novo usuário</th>
         <th>Adicionar novo cargo</th>
      </tr>

      <tr>
         <td>
            <form action="admin-page.php" method="POST">
               <label>
                  Usuario:
               </label>
               <input type="text" name="name" required>

               <br>

               <label>
                  Email: 
               </label>
               <input type="email" name="email" required>

               <br>

               <label>
                  Cargo: 
               </label>
               <input type="text" name="id_position_interprise" required>

               <br>

               <label>
                  Senha: 
               </label>
               <input type="password" name="password" required>

               <br>

               <label>
                  Palavra chave (não obrigatório): 
               </label>
               <input type="text" name="salt">

               <br>
               
               <input type="hidden" name="action" value="addUser">

               <button type="submit">Criar</button>
            </form>
         </td>

         <td>
            <form action="admin-page.php" method='POST'>
               <label>
                  Nome do cargo: 
               </label>
               <input type="text" name="name" required>

               <br>

               <input type="hidden" name="action" value="addPosition">

               <button type="submit"> Criar </button>
            </form>
         </td>
      </tr>
   </table>
</body>
