<body>
   <h2>Página do administrador</h2>

   <form action="/app/Controllers/admin-controller.php">
      <label>
         Usuario:
      </label>
      <input type="text" name="user" required>

      <br>

      <label>
         Email: 
      </label>
      <input type="email" name="email" required>

      <br>

      <label>
         Cargo: 
      </label>
      <input type="text" name="position_interprise" required>

      <br>


      <label>
         Senha: 
      </label>
      <input type="password" name="password" required>

      <br>

      <label>
         Palavra chave (não obrigatório): 
      </label>
      <input type="text" name="salt">

      <br>

      <button type="submit">Criar</button>
   </form>
</body>
